@model AZUL.COM.Models.AboutUsPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>AboutUsPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescHeader2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescHeader2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescParagraph2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescParagraph2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImage3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeaturesImagePoint9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeaturesImagePoint9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateParagraph1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateParagraph1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateParagraph2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateParagraph2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateImage2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
