@model AZUL.COM.Models.ServicesPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ServicesPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescImage3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubHeader1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubHeader1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubHeader2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubHeader2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubHeader3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubHeader3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubParagraph1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubParagraph1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubParagraph2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubParagraph2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescSubParagraph3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescSubParagraph3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesHeader6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesHeader6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesParagraph6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesParagraph6)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
